{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>
      {% block title %}

      {% endblock %}
    </title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
  </head>

  <body>
    <header>
      <img src="{% static 'images/logo.png' %}" alt="Restaurant Logo" class="logo">
    </header>

    {% include 'partials/_nav.html' %}


    <main>
      <h1>
        {% block header %}

        {% endblock %}
      </h1>
      {% block content %}

      {% endblock %}
    </main>

    <footer>
      <div class="footer-inner">
        <div class="footer-name">Trattoria Lungara</div>

        <div class="footer-info">
            <div>📍 Via della Lungara 233, Rome</div>
            <div>📞 +39 06-123-1234</div>
            <div>🕒 Open Daily: 12:00 : 00:00</div>
        </div>

        <div class="footer-copy">
            © 2025 Trattoria Lungara. All rights reserved.
        </div>
      {% comment %} {% include 'partials/_footer.html' %} {% endcomment %}
    </footer>
  </body>
</html>