{% extends 'base.html' %}

{% block title %}
Menu
{% endblock %}

{% block header %}
Menu
{% endblock %}

{% block content %}

<br><br>

<ul id='menuList'>
    {% regroup dishes by course__name_it as course_list %}
    {% for course in course_list %}
        <h2> {{ course.grouper }} </h2>
        {% for dish in course.list %}
            <li>
                <span class='dishName'> {{ dish.name_it }}</span>
                <div> 
                    <span class="dishIngredients"> {{ dish.ingredients_it }} </span> 
                    <hr>
                    <span class='dishPrice'> {{ dish.price }}</span>
                </div>
            </li>
        {% endfor %}
    {% endfor %}
</ul>
<br><br>


{% endblock %}