body {
    margin: 0;
    font-family: sans-serif;
    background-color: #0a0a0f;
    color: #f0f0f0;
}

header , footer {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-left: 2em;
    align-items: center;
    font-size: 30px;
    background: rgb(211, 72, 72);
    color: #131325;
    height: 4em;

}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color: #ffffff;
    padding: 1em;
}

.navbar a {
    color:  rgb(211, 72, 72);
    margin: 0 1.5em;
    font-weight: 600;
}

.navbar a:hover {
    color: #3f6ae1;
}

main {
    background-color: #ffffff;
    color: #000000;
    height: 30em;
    padding: 2em; 
    border-top: 3px solid rgb(211, 72, 72);
    border-bottom: 3px solid rgb(211, 72, 72);
}

#menuList {
    max-width: 400px;
}

#menuList li{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

#menuList div {
    display: flex; 
    flex-direction: row;
    align-items: flex-end;
}

#menuList hr {
    display: flex; 
    flex-grow: 2;
}


span.dishPrice {
    color: blue;
}

span.dishName {
    font-size: 150%;
}

span.dishIngredients {
    font-weight: lighter;
}