body {
    margin: 0;
    font-family: "Georgia", "Times New Roman", serif;
    background-color: #f5f1e8;  
    color: #222222;
}

header,
footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 2em;
    min-height: 4em;
    background: rgb(211, 72, 72); 
    color: #ffffff;
    font-size: 1.4em;
    letter-spacing: 0.12em;
    text-transform: uppercase;
}

.logo {
    height: 8em;  
}

.lungara {
    height: 15em;
}

footer {
    justify-content: left;
    font-size: 0.9rem;
    letter-spacing: 0.08em;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 2em;
    border-bottom: 1px solid #e0d4c2;
}

.navbar a {
    color: rgb(211, 72, 72);
    margin: 0 1.25em;
    font-weight: 600;
    font-size: 0.9em;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.12em;
    position: relative;
}

.navbar a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.2em;
    width: 0;
    height: 2px;
    background-color: rgb(211, 72, 72);
    transition: width 0.18s ease;
}

.navbar a:hover::after {
    width: 100%;
}

main {
    background-color: #ffffff;
    color: #000000;
    padding: 2.5em;
    border-top: 3px solid rgb(211, 72, 72);
    border-bottom: 3px solid rgb(211, 72, 72);
    max-width: 900px;
    margin: 2.5em auto;
    border-radius: 10px;
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15);
}


#menuList {
    max-width: 800px;
    margin: auto;
}

#menuList li{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

#menuList div {
    display: flex; 
    flex-direction: row;
    align-items: flex-end;
    align-items: baseline;
}

#menuList hr {
    display: flex; 
    flex-grow: 2;
    margin: 0 1em 0 1em;
}


span.dishPrice {
    color: blue;
}

span.dishName {
    font-size: 150%;
}

span.dishIngredients {
    font-weight: lighter;
}